{{yield}}
<div class="feed">
	<header><i class="fa fa-eye"></i>Jason viewed your profile<time class="time-ago">1 hour ago</time></header>
	<section class="feed-container">
		<div class="user-info">
			<img src="assets/images/turkey.jpg" class="inline-block"/>
			<div class="inline-block">
				<div class="user-info-name">Jason Hankman</div>
				<div class="user-info-position">Senior Recruiter at Genomicon Systems</div>
			</div>
		</div>
		<div class="insights">
			<div class="inline-block insights-description">
				Genomicon Systems is hiring
			</div>
			<div class="inline-block insights-detail-container">
				<img class="inline-block insights-logo" src="assets/images/turkey.jpg"/>
				<div class="inline-block insights-detail">
					<div class="insights-detail-position">Interactive Designer</div>
					<div class="insights-detail-location">San Francisco, California US</div>
				</div>
			</div>
		</div>
	</section>
</div>