<section class="top-card">
	<!-- <img {{bind-attr src=user.imgUrl alt="Steven Buck's profile image"}} class="profile-image inline-block"> -->
	<img src="assets/images/turkey.jpg" alt="Steven Buck's profile image" class="profile-image inline-block" />
	<h1 class="inline-block greeting">Welcome back, <br> <span class="user-name">Steven</span></h1>
	<button class="button inline-block view-profile">View Profile</button>
</section>