body *{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.inline-block {
	display: inline-block;
	vertical-align: middle;
}

button {
	font-weight: lighter;
	border: none;

	&:hover {
		cursor: pointer;
	}
}

// * {
// 	font-weight: lighter;
// }

h1, h2, h3, h4, h5, h6, body {
	margin: 0;
}